DATABASE_URL=postgres://neo:neo@localhost:5433/neo
REDIS_URL=redis://localhost:6379
PORT=3000
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=neo
MINIO_SECRET_KEY=neominio
MINIO_BUCKET=neo-products
MINIO_PUBLIC_URL=http://localhost:9000
